/*navbar*/
.navbar-brand img {
    max-width: 100px;
}

.btn-buytickets {
    text-decoration: none;
    color: rgb(116, 185, 13) !important;
    
}

/*main*/
.bor-rad {
    border-radius: 0px !important;
}

.btn-col {
    background: rgb(116, 185, 13) !important;
    opacity: 0.75 !important;
    color: white !important;
}

 /*footer */
 .foot {
    background: linear-gradient(to right, #023047, #023047, #005f73);
    padding: 1.5rem;
  }

footer .nav-link {
    color: white;
    margin: 0 20px;
    max-width: min-content;
    text-align: center;
}
