/*navbar*/
.navbar-brand img {
    max-width: 100px;
}

.btn-buytickets {
    text-decoration: none;
    color: rgb(116, 185, 13) !important;
    
}

/*Conf Bs As with carousel*/

 .btn-ti {
    border-radius: 5%;
    background-color: rgb(33, 155, 33);
    color: white;
 }


 .bg-ba1 { background-image: url(../img/ba1.jpg);}
 .bg-ba2 {background-image: url(../img/ba2.jpg);}
 .bg-ba3 {background-image: url(../img/ba3.jpg);}

 .carousel-item {
    background-size: cover;
    background-position: center center;
  }

  .carousel-item svg { opacity: .7; }

  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  .carousel-item {
    height: 37rem;
    min-height: 95vh;
  }

/*form*/

#btn-form {
    background: rgb(116, 185, 13);
    opacity: 0.75;
    color: white;
}

 /*footer */
.foot {
    background: linear-gradient(to right, #023047, #023047, #005f73);
    padding: 1.5rem;
  }

footer .nav-link {
    color: white;
    margin: 0 20px;
    max-width: min-content;
    text-align: center;
}

@media (max-width: 480px) {
  .mar-ba {
    font-size: smaller;
  }
}

@media (max-width: 200px) {
  .mar-ba{
    font-size: 10px !important;
  }

}